canvas {
	border: 5px solid #ccc;
	border-radius: 5px;
}

#the-list {
	list-style: none;
	margin-left: 0;
}

#the-list .catcher {
	background-color: red;
	color: white;
}

#the-list .safe {
	background-color: yellow;
	color: black;
}
