canvas {
	border: 5px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
}

#info {
	float: right;
}

span.square {
	width: 10px;
	height: 10px;
	text-indent: -100em;
	overflow: hidden;
	border: 3px solid black;
	display: inline-block;
}

span.red {
	background-color: red;
}

span.yellow {
	background-color: yellow;
}

span.blue {
	background-color: #8ED6FF;
}

.label {
	margin-left: 5px;
}

.label-warning {
	background-color: yellow;
	color: black;
}

.label-important {
	background-color: red;
}
