canvas {
	border: 5px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
}

#info {
	float: right;
}

span.square {
	width: 16px;
	height: 20px;
	text-indent: -100em;
	overflow: hidden;
	display: inline-block;
	background-image: url('../img/sprite-legend.png');
}

span.red {
	background-position: 0 0;
}

span.yellow {
	background-position: -16px 0;
}

span.blue {
	background-position: -34px 0;
}

.label {
	margin-left: 5px;
}

.label-warning {
	background-color: yellow;
	color: black;
}

.label-important {
	background-color: red;
}
